.homeContainer{
	margin-top: 200px;
	text-align: center;
	.inputStyle{
	  border: none;
      border-bottom: 2px solid red;
	  width: 500px;
	}
	.previewBox{
		
	img{
		display: block;
    margin-left: auto;
    margin-top: 10px;
    width: 60%;
	}
		
	}
}